
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --green:  #2ecc71 ;
    --blue:  #2471a3 ;
    --black:  #17202a ;
    --grey:  #424a54 ;
    
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.5rem .5rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--blue);
    



    

}


*{
    font-family: 'Poppins', sans-serif;
    margin:0 ; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;

}

html{
    font-size: 59%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}


section{
    padding: 2rem 9%;
}
.header .navbar a.active {
  color: #2ecc71; /* Color de texto para el elemento activo */
}




/*header*/

.header{
    display: flex;
    align-items:center;
    padding: 2rem 10%;
    top: 0;left: 0;right: 0;
    position:fixed;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
    z-index:1000;
    justify-content:right;
    justify-content: space-between;
    background: #fff;
    
}

.logo1 { 
    display: flex;
    float: left;
    width: 371px; 
    height: 80px; 
    margin-right: 50px;
    transform: translateX(-30px);
    
}

.logo2{
display: none;

}

.header .navbar{
  transform: translateX(50px);
}

.header .navbar a{

    font-size: 1.8rem;
    color: var(--blue);
    margin-left: 3rem;
    transition: 0.3s ease-in-out;
}

.header .navbar a:hover{
    color: var(--green);
    transition: 0.3s ease-in-out;
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    color: var(--blue);
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: none;
}

#menu-btn:hover{
    color: var(--green);
    transition: 0.3s ease-in-out;

}


/*home*/


.home{
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 1.5rem;
padding-top: 3rem;
padding-bottom: 10rem;
}

.lottie{
    padding-top: 150px;
    
   
}



.home .content{
    flex:1 1 45rem ;
    padding-top: 20rem;
    
}

.home .content h3{
    font-size: 5rem ;
    color: var(--black);
    line-height: 1.8;
    text-transform: uppercase;
   
}

.home .content span{

  text-transform: uppercase;
  color: var(--green);

}

.home .content p{
    font-size: 2rem ;
    color: var(--grey);
    line-height: 1.8;
    padding: 1rem 0;
    text-align: justify;
    text-transform:initial;
   
}


/*construccion*/

.home1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 10rem;
  }

.home1 .construct{
  flex:1 1 45rem ;
  padding-top: 20rem;
  
}

.home1 .construct h3{
  font-size: 5rem ;
  color: var(--black);
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
 
}

.home1 .construct span{

text-transform: uppercase;
color: var(--green);

}

.home1 .construct p{
  font-size: 2rem ;
  color: var(--grey);
  line-height: 1.8;
  padding: 1rem 0;
  text-align: center;
  text-transform:initial;
 
}


.lottie-mobile{
  display: none;
}




/*fin construccion*/




.services{

  padding-top: 7rem;

}

.heading{
  font-size: 5rem;
  text-align: center;
  padding-bottom: 2rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: .4rem;
}


.heading span{

  text-transform: uppercase;
  color: var(--green);

}

.btn{

  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  color: var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bold;
  transition: .1s ease-in-out;


}

.btn:hover{
color: #fff;
background: var(--green);
transition: .1s ease-in-out;

}
/*servicios*/



.box-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
}

.box {
  background: #fff;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
 
}



.box i {
  color: var(--green);
  font-size: 5rem;
  padding-bottom: .5rem;
}

.box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.box p {
  color: var(--grey);
  font-size: 1.5rem;
  line-height: 2;
}


/*fin servicios*/

/*about*/




.about .heading{
  padding-top: 20rem;
  font-size: 5rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image lottie-player {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--black);
  font-size: 4rem;
  line-height: 1.8;
}

.about .row .content p {
  color: var(--grey);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}


/*fin about*/



/*cards*/
.cards {
  
  position: relative;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
  padding: 16px;
  margin:  56px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5),
  0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.cards-image img {
  width: 100%;
  transform: scale(1.2);
}

.names {
  padding-top: 10rem;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
  
}

.cards p{
 text-align: center;
}

.prof{
  font-size: 14px;
  font-weight: bold;
  color: #555;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}







/*cards*/


/*tarjetas*/

.container-staff{

    padding-top: 6rem; 
    
    
  
}

.container-staff h5{
  font-size: 20px;
}

.staff .heading{
  padding-top: 12rem;
  font-size: 5rem;
}



.social-link {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 2rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}




/*fin tarjetas*/

/*cv*/

.modal-content {
  max-height: 600px; /* Establece una altura máxima para la ventana modal */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido supera la altura máxima */
  
  min-height: 400px;
  
}






.container-cv{
  background-color: #E9E7EA;
  width:1000px;
  max-width: 100%;
  margin:auto;
  margin-top: 30px;
  padding:50px;
  box-shadow: 0 10px 50px #858585;
  display: grid;
 grid-template-columns: 35% 60%;
 column-gap: 5%; 
 row-gap: 30px;
}

.container-cv li{
  font-size: 14px;
}


.name{
  padding-left: 30px;
  border-left:1px solid #000;
}
.name h1{
  font-weight: 300;
  font-size: xxx-large;
  margin:0px 0 5px ;
}
.name .specialize{
  margin:0;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px ;
  color: var(--green);
}
.name .contact{
  padding:0;
  list-style: none;
}
.name .contact span{
  display: inline-block;
  background-color: #000;
  width:20px;
  height:20px;
  color:#fff;
  text-align: center;
  border-radius: 50%;
  font-size: small;
  margin-right: 20px;
  
}
.name .contact li{
  padding:5px 0;
  transform: translate(-40px);
  background-color: #E9E7EA;
}


h2{
  padding:0;
  margin: 0 0 20px 0;
}
.intro{
  padding-left: 30px;
  border-left: 1px solid #000;
  text-align: justify;
}
.experience{
  text-align: right;
}

.experience i{
  float: left;
  font-size: 20px;
  margin-left: 200px;
}

.experience h4{
  margin:20px 0 10px;
}

.experience ul{
  padding:0;
  margin: 0;
list-style: none;
}
.experience li{
  padding:10px 0;
  
}
.project{
  padding-left: 30px;
  text-align: justify;
  border-left: 1px solid #000;
}

.project i{
  float: left;
  font-size: 20px;
  letter-spacing: 4px;
}
.project .item{
  font-size: 14px;
}
.project h4{
  margin:20px 0 10px;
}
.project .web{
  color: #0c7373;
  padding:10px 0;
}
.project .location{
  font-weight: 500;
  padding-bottom:10px;
}
.project .item{
  position: relative;
}
.project .item::before{
  position: absolute;
  width:13px;
  height: 13px;
  background-color: #000;
  content: '';
  border-radius: 50%;
  left: -37px;
}

.mobile{
  
display: none;

}


/*fin cv*/
/*contacto*/



.contacto .heading{
  padding-top: 15rem;
  font-size: 5rem;
}



input {
  outline: none;
  border: none
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none
}

textarea {
  outline: none;
  border: none
}

textarea:focus,
input:focus {
  border-color: transparent !important
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

input:focus:-moz-placeholder {
  color: transparent
}

input:focus::-moz-placeholder {
  color: transparent
}

input:focus:-ms-input-placeholder {
  color: transparent
}

textarea:focus::-webkit-input-placeholder {
  color: transparent
}

textarea:focus:-moz-placeholder {
  color: transparent
}

textarea:focus::-moz-placeholder {
  color: transparent
}

textarea:focus:-ms-input-placeholder {
  color: transparent
}

input::-webkit-input-placeholder {
  color: #999
}

input:-moz-placeholder {
  color: #999
}

input::-moz-placeholder {
  color: #999
}

input:-ms-input-placeholder {
  color: #999
}

textarea::-webkit-input-placeholder {
  color: #999
}

textarea:-moz-placeholder {
  color: #999
}

textarea::-moz-placeholder {
  color: #999
}

textarea:-ms-input-placeholder {
  color: #999
}

button {
  outline: none !important;
  border: none;
  background: 0 0
}

button:hover {
  cursor: pointer
}

iframe {
  border: none !important
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: 0 0;
  position: absolute;
  
}

.contact100-map {
  position: absolute;
  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}

.wrap-contact100 {
  width: 670px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  
  box-shadow: var(--box-shadow);
  border: var(--border);
}

.contact100-form-title {
 
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  
  background-size: cover;
  
  
  
  
}

.contact100-form-title-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: var(--black);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 7px;
  
  
  
}

.contact100-form-title-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: var(--blue);
  line-height: 1.5;
  text-align: center;
  text-transform:none;
  font-weight: bold;
  padding-top: 3rem;
  
}

.contact100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54, 84, 99, .7)
}

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 57px 190px
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 26px
}

.label-input100 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--black);
  line-height: 1.2;
  text-align: right;
  position: absolute;
  top: 14px;
  left: -105px;
  width: 80px
}

.input100 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: 0 0;
  padding: 0 5px;
  text-transform: none;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  transition: all .6s;
  background: var(--green);
}

input.input100 {
  height: 45px;
}

textarea.input100 {
  min-height: 115px;
  padding-top: 14px;
  padding-bottom: 13px;
  resize: none;
  text-transform: none;
  
}

.input100:focus+.focus-input100::before {
  width: 100%;
}

.has-val.input100+.focus-input100::before {
  width: 100%;
}

.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  padding-left: 7rem;
  
}

.error-message {
  color: red;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: var(--green);
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.contact100-form-btn i {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.contact100-form-btn:hover {
  background-color:  #922b21 ;
}

.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  font-family: "Font Awesome Free";
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -moz-transition: opacity .4s;
  transition: opacity .4s;
}

.alert-validate::after {
  content: "\f071";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate.show-alert:before {
  visibility: visible;
  opacity: 1;
}

.contacto{
  padding-bottom: 20rem;
}


/*fin contacto*/
/*ubicacion*/

.map iframe{
  display: flex;
  align-self: center;
  width: 95%;
  height: 500px;
  padding-left: 7rem;
  border-style: solid;
}

#map{
  padding-top: 10rem;
}


.contact-info {
  text-align: center; /* Centra el contenido */
  padding-top: 5rem;
  font-size: 14px;
  text-transform: none;
}

.contact-info i {
  font-size: 24px; /* Ajusta el tamaño del ícono */
  margin-right: 10px; /* Añade un espacio entre el ícono y el texto */
  color: var(--black);
}


/*fin ubicacion*/




/*modal*/
.doctor {
  margin: 10px;
}

.doctor button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*fin modal*/
/*modal cookies*/

.modalck {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  

}

.modal-contentck {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: 600px; /* Establece una altura máxima para la ventana modal */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido supera la altura máxima */
  min-height: 400px;
  
}

.modal-contentck img{
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
 
}

.modal-contentck p{
  font-size: 15px;
  text-transform: none;
  text-align: justify;
  
}

.modal-contentck h1{
  font-size: 23px;
  text-transform: none;
  text-align: center;
  text-decoration: underline;
}
.modal-contentck h2{
  
  text-decoration: underline;
}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*fin modal cookies*/





/*footer*/




hr{

  margin-left: 20px;
  margin-right: 20px;
}


.footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.8;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }

  .copyright{
    display: block;
    margin-top: 15px;
    margin: 0 auto;
    padding-top: 5rem;
    font-size: 15px;
    text-transform: none;

  }

.planet{
  color: #d35400  ;
}

.wave{
  display: block;
  margin: 0 auto;
  transform: translateY(64px);
}



/*fin footer*/



.fab {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  z-index:100;
  float: right;
  
  
  }
  
  .fab:hover {
  opacity: 0.7;
  }
  
  







/*cookie*/
#cookiePopup {
  background-color: #ffffff;
  position: fixed;
  font-size: 14px;
  width: 70vw;
  max-width: 42.85em;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  font-family: "Poppins", sans-serif;
  text-align: justify;
  line-height: 1.8em;
  padding: 2em 1.4em;
  border-radius: 6px;
  transition: all 0.5s ease-in;
  z-index: 3;
  
}

#cookiePopup img {
  display: block;
  width: 3.75em;
  transform: translateZ(0);
  position: relative;
  margin: auto;
}

#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
  text-transform: none;
}

#cookiePopup button {
  background-color: #6859fe;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 1em 1.4em;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 5px;
}

#cookiePopup a {
  color: #6859fe;
}

.hide {
  visibility: hidden;
  bottom: 0;
  left: 2em;
}

.show {
  visibility: visible;
  bottom: 2em;
  left: 2em;
}

@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  
  .hide {
    bottom: 2em;
    left: 0;
  }
  
  .show {
    left: 0;
    bottom: 0;
  }
}

/*fin cookie*/

/*---------------------Seccion Neuro----------------------------------*/

/*parallax*/

/*

.parallax {
  height: auto;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(36,113,163,1) 50%, rgba(23,32,42,1) 100%); 
  text-align: center;
  display: grid;
  place-items: center;
  align-content: center;
  color: #fff;
  font-size: 24px;
  overflow: hidden;
  padding-top: 2rem;
}
*/
.parallax {
  height: auto;
  text-align: center;
  display: grid;
  place-items: center;
  align-content: center;
  color: #fff;
  font-size: 24px;
  overflow: hidden;
  padding-top: 2rem;
  min-height: 500px;
  background-image: url("../img/neurology.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.parallax h1{
  font-size: 70px;
  padding-bottom: 15rem;
  padding-top: 3rem;
  text-transform: none;

}

.parallax p{
  text-transform: none;
}
.parallax span{
  color: var(--green);
  font-weight: bold;
}


.claro {
  
  background-color:  #d35400 ;
}

.contenido {
  background: rgb(23,32,42);
background: linear-gradient(180deg, rgba(23,32,42,1) 0%, rgba(36,113,163,1) 50%, rgba(255,255,255,1) 100%); 
  padding: 40px;
  text-align: center;
}

.texto-animado {
  opacity: 0;
  animation-name: aparecer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-size: 25px;
}


.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
  text-transform: lowercase;
  
  
}

.hidden2 {
  padding-top: 10rem;
  padding-bottom: 10rem;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
  text-transform: lowercase;
  margin-left: 5px;
  margin-right: 5px;
  
  
}

.aneu1{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
  text-align: center;
  
}

.aneu2{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
  text-align: center;
  
}



.container5c {
  display: flex;
  align-items: center;
  translate: 60px;
}
.container5c1 {
  display: flex;
  align-items: center;
  translate: 60px;
}

.animation {
  flex: 1;
  margin-left: 200px;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(50%);
  transition: all 2s;
  text-align: right;
}

.label {
  flex: 1;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
  text-align: left;
  margin-right: 500px;
}




@media(prefers-reduced-motion){
  .hidden {
    transition: none;
  }
  .vector{
    transition: none;
  }
  .hidden2 {
    transition: none;
  }

}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


/*fin parallax*/

/*---------------------Fin Seccion Neuro----------------------------------*/


/*----------------------Seccion Ozono-------------------------------*/
.parallax2 {
  height: auto;
  text-align: center;
  display: grid;
  place-items: center;
  align-content: center;
  color: var(--black);
  font-size: 24px;
  overflow: hidden;
  padding-top: 2rem;
  min-height: 500px;
  background-image: url("../img/ozonowall2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.parallax2 h1{
  font-size: 70px;
  padding-bottom: 15rem;
  padding-top: 3rem;
  text-transform: none;

}

.parallax2 p{
  text-transform: none;
}
.parallax2 span{
  color: var(--green);
  font-weight: bold;
}

/*---------------------Fin seccion Ozono---------------------------*-





















































































/*media queries */




@media (max-width:990px) {

    html{
        font-size: 55%;
        overflow-x: hidden;
        scroll-padding-top: 7rem;
        scroll-behavior: smooth;
    }


    .header{
padding: 2rem;

    }

    .logo1{

      display: none;

      
    }
    
   .logo2{
    display: block;
    width: 200px;
    height: 80px;
   }

   .lottie{
    display: none;
   }
   .lottie2{
    display: none;
   }
  

    
        .footer-clean .item.social > a {
          margin-top:40px;
        }
        
        .fab{

          position: sticky;
          float: right;
          margin-bottom: 10px;
          
        
        }


        .modal{
          margin-top: 100px;
          padding-top: 50px;
        }

        .container-staff{
 
          padding-left: 0;
        
      }


      .container-cv{
        display: none;
      
      }
      
      .mobile{
        display: block;
        font-size: 14px;
        height: 400px;
      }
      
      .mobile .experience{
        text-align: center;
      }

    
      .cards{
        margin-left: 45px;
      }

      .parallax{
        display: block;
        text-align: center;
        margin: 0 auto;
        
      }

      .parallax .container5c1 .label{
        display: block;
        text-align: center;
        margin: 0 auto;
        translate: -60px;
        
      
      }

      .parallax .container5c .label{
        display: block;
        text-align: center;
        margin: 0 auto;
        translate: -60px;
        
      
      }
      .parallax .container5c .animation{
        display: block;
        text-align: center;
        margin: 0 auto;
        translate: -60px;
      }
      .parallax .container5c1 .animation{
        display: block;
        text-align: center;
        margin: 0 auto;
        translate: -60px;
      }


      }





@media (max-width:768px) {

    #menu-btn{
        display: initial;
    }
    .lottie{
      display: none;
     }
     .lottie2{
      display: none;
     }

    .footer-clean .item.social > a {
        margin-top:10px;
      }


      .footer-clean .copyright {
        margin-top:14px;
        margin-bottom:0;
        font-size:13px;
        opacity:0.6;
      }

      .logo1{

        display: none;
  
        
      }
      
     .logo2{
      display: block;
      width: 200px;
      height: 80px;
     }
  
    


.header .navbar{

    position: absolute;
    top: 115%; right: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
    border: var(--border);
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;

}

.header .navbar.active{
    transform: scale(1);
    opacity: 1;
    transition: .1s ease-in-out;
}

.header .navbar a{

    font-size: 3rem;
    display:block;
    margin:2.5rem;

}


.fab{

  position: sticky;
  float: right;
  margin-bottom: 10px;
  

}

.lottie{
  width: 380px;
  height: 380px;
}


.modal{
  margin-top: 100px;
  padding-top: 50px;
}

.container-staff{
 
  padding-left: 0;

}

.container-cv{
  display: none;

}

.mobile{
  display: block;
  font-size: 14px;
  height: 400px;
}

.cons-lottie{
  display: none;
}


.lottie-mobile{
  display: block;
  width: 500px;
    height: 500px;
    margin: 0 auto;
  
}


.lottie3{
  display: none;
}



.contact100-form {
  padding: 43px 15px 57px 117px
}


.map iframe{
  margin: 0 auto;
  width: 100%;
}

.cards{
  margin-left: 45px;
}

.parallax{
  display: block;
  text-align: center;
  margin: 0 auto;
  
}


.parallax .container5c1 .label{
  display: block;
  text-align: center;
  margin: 0 auto;
  translate: -60px;
  

}

.parallax .container5c .label{
  display: block;
  text-align: center;
  margin: 0 auto;
  translate: -60px;
  

}
.parallax .container5c .animation{
  display: block;
  text-align: center;
  margin: 0 auto;
  translate: -60px;
}
.parallax .container5c1 .animation{
  display: block;
  text-align: center;
  margin: 0 auto;
  translate: -60px;
}
}


@media (max-width:450px) {

    html{
        font-size: 55%;
        overflow-x: hidden;
        scroll-padding-top: 7rem;
        scroll-behavior: smooth;
    }


    .header{
padding: 2rem;

    }

    .lottie{
      display: none;
     }
     .lottie2{
      display: none;
     }


    .logo1{

      display: none;

      
    }
    
   .logo2{
    display: block;
    width: 200px;
    height: 80px;
   }

   .home1{
    display: block;
    margin: 0 auto;
   }

   .home1 .construct h3{
    font-size: 30px;
   }

    .fab{

      position: sticky;
      float: left;
      margin-bottom: 10px;
      margin-left: 5px;
    
    }
    .lottie{
      width: 380px;
      height: 380px;
    }
    

   .box-container{
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   }


    .modal{
      margin-top: 100px;
      padding-top: 50px;
    }


    .container-cv{
      display: block;
      height: 400px;
      box-shadow: none;
      background-color: #fff;
      margin: 0 auto;

    }
.container-cv i{
  display: none;
}

.container-cv h1{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  translate: -5%;
}
    .container-cv .name {
      border-left: none;
     }
     .container-cv .name .surname{
      translate: -10%;
     }
    .project  {
      border-left: none;
      text-align: left;
      
      padding: 0 0 ;
      
      
    }
    .project h2{
      text-align: center;
      text-decoration: underline;
    }
    .project .des {
      border-left: none;
      text-align: left;
       }

       .project h4{
        text-decoration: none;
       }

    .container-cv .name .specialize{
      text-align: center;
      translate: -5%;
    }

    .experience{
      text-align: center;
      font-size: large;
      
    }

     


  
  
  
  .cons-lottie{
    display: none;
  }

  .lottie-mobile{
    display: block;
    width: 500px;
      height: 500px;
      margin: 0 auto;
  }

  .lottie3{
    display: none;
  }

  .container-staff{
    padding-right: 2rem;
    display: block;
    margin: 0 auto;
  }
  

  .contact100-form {
    padding: 40px 15px 50px
}
  .wrap-contact100{
    width: auto;
  }
  .contact100-form-title{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: fit-content;
  }
.label-input100 {
    text-align: left;
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    padding: 0 5px
}

.map{
 
  
  position: relative;
  translate: -10%;
  
    
   
}

.fab{

  position: sticky;
  float: right;
  margin-bottom: 10px;
  

}

.container-contact100-form-btn{
  margin-left: 1rem;
}
.container-contact100-form-btn p{
  text-align: center;
  font-size: 8px;
}


.contact100-form-btn{
  margin-left: 1rem;
}

.col-lg-3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

 .cards{
  margin-left: 45px;
}

.modalck{
  margin-top: 100px;
  padding-top: 50px;
}

.parallax{
  display: block;
  text-align: center;
  margin: 0 auto;
  
}

.parallax .container5c1 .label{
  display: block;
  text-align: center;
  margin: 0 auto;
  translate: -60px;
  

}

.parallax .container5c1 .animation{
  display: none;

}

.parallax .container5c .label{
  display: block;
  text-align: center;
  margin: 0 auto;
  translate: -60px;
  

}

.parallax .container5c .animation{
  display: none;

}

.wave{
  display: block;
  margin: 0 auto;
  height: 280px;
  width: 280px;
  
}

#maps{
  display: block;
  background-size: cover;
}

.contact-info{
  color: #fff;
}

.contact-info i{
  color: #fff;
}

}
