.deanna{
display: flex;
margin-top: 30px;
margin-right: 30px;
height: 300px;
width:150px;
border-radius: 50%;
flex-basis: 40%
}

.photo{
  text-align:center;
        padding:3%;
        border:thin solid black;
        padding-top: 10px;
}


.imagen{
  display: flex;
        align-items: center;
        justify-content: center;
background-color: #2471a3 ;
padding-bottom: 10px;
border-radius: 5px;
margin-bottom: 20px;
padding-bottom: 20px;

}
#color{
  margin-left: 800px;
  padding: 0;
  width: 25px;
  border: 2px solid;
  border-radius: 5px;
}


      .text {
        font-size: 20px;
        padding-left: 20px;
        font-family: 'Gemunu Libre', sans-serif;
        color: #fff;
      }








p { font-size: 15px;
  font-family: 'Gemunu Libre', sans-serif;


}
h2 {
  font-size: 30px;
  font-family: 'Gemunu Libre', sans-serif;

}
h3 {
  font-size: 20px;
  font-family: 'Gemunu Libre', sans-serif;

}

span {

  font-weight: normal;
}


body {
  width: 800px;
  margin:0 auto;




}

li{
  line-height: 25pt;
  font-size: 25px;
  font-family: 'Gemunu Libre', sans-serif;
  color: black;
}




main {
  background: #fff;
  border: 3px solid black;
  box-shadow: 0 0 5px #888;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-top: 150px;
}

.campos{
  margin-left: 10px;
}

.fecha{
  margin-left: 10px;
  cursor: pointer;
}
.add{
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  background:rgba(39, 55, 70, 0.5);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  color: #D35400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;

}

.add:hover{
  background:#229954;
  color:#fff;
  transition: 0.5s ease-in-out;
}


.flex {
  display: flex;
  gap: 1.5rem;

}

.delete{
  text-decoration: none;
  display: inline-block;
  background: #CC0E0E;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input {
  padding: 8px 10px 8px 10px;
  background: #ddd;
  border: none;
  width: 50%;
  margin-bottom: 5px;
}

.footer{
  font-family: 'Gemunu Libre', sans-serif;
  background-color: #283747;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
}

.header{
  font-family: 'Gemunu Libre', sans-serif;
  background-color: #283747;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: 0 auto;
  left: 0;
  top: 0;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#BA4A00;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  transition: 1s ease;
}

.my-float{
	margin-top:22px;
}


.float:hover{
background-color: #2ecc71;
transition: 1s ease;
color: #000;
}
